/* Generali */
body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    border: #dee1e3;
}

.headings{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bolder;
}
/* main */
/* header */
header{
    background-image: url(../images/banner.jpg);
    padding-top: 6em;
    padding-bottom: 6em;
    background-size: cover;
    background-position-y: -146px;
}

header p{
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 0.9em;
}

input{
    color: white;
    margin: 30px;
    height: 3em;
    width: 10em;
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 2%;
    border: none;
}

h1{
    font-size: 1.5em;
    padding-bottom: 15px
}

#logo{
    background-color: black;
    padding: 1em;
}

#logo img{
    height: 2em;
}

main{
    text-align: center;
}

/* info lavoro */

aside{
    display: inline;
    text-align: start;
    padding-left: 3.2em;
}

#info-lavoro{
    display: inline-flex;
    align-items: center;
    padding: 3em;
    margin-right: 220px;
    margin-left: 220px;
}
#info-lavoro img{
    border-radius: 250px;
    height: 20em;
}

 h2{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* garanzie */
#garanzie{
    background-color: #e22d0e;
    padding: 60px;
}

#garanzie h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
}

#garanzie i{
    color: white;
    font-style: italic;
    font-size: 0.8em;
}

#garanzie p{
    color: white;
    font-size: 0.5em;
    padding-top: 20px;
}

/* info lavoro */
#strumenti{
    display: inline-flex;
    margin: 0;
}

.img-container{
    width: 25.5%;
    margin: 0;
    margin: 50px auto;
}

.img-container img{
    width: 100%;
}

#img1{
    height:34vh;
}