/* Generali */
body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    border: #dee1e3;
}
/* #25a2c3 – Montserrat (bold) – interlinea 1.5
 */
 .headings{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;
 }
/* logo */
#logo{
    background-color: black;
    text-align: center;
    padding: 9.5%;
}

#logo img{
    height: 5.5vh;
}
/* Header */
#motivo{
    background-image: url(../images/banner.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 120px 50px 50px;
}


h1{
    font-size: 80px;
    line-height: 1 !important;
    padding-bottom: 50px;
}

#motivo p{
    font-size: 45px;
    font-weight: 500;
}



input{
    height: 110px;
    width: 342px;
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    border: none;
    border-radius: 7%;
    color: white;
    margin-top: 90px;
    margin-bottom: 90px;
}


/* parte centrale */
#info-lavoro{
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    margin: 0 50px;
}

#info-lavoro img{
    border-radius: 60%;
    width: 68vw;
    padding: 20px 0;
}

#info-lavoro h2{
   padding-top: 30px;
   padding-bottom: 20px;
}

.info{
    padding-bottom: 30px;
}
/* garanzie */
#garanzie{
    text-align: center;
    background-color: #e22d0e;
    padding: 122px;
    margin-top: 125px;
}


#garanzie h2{
    font-size: 80px;
    color: white;
    padding-bottom: 50px;
    font-weight: bolder;
}

#garanzie i{
    font-style: italic;
    color: white;
    font-size: 37px;
    padding-top: 90px;
}

#garanzie p{
    color: white;
    font-size: 50px;
    line-height: 1;
    padding-top: 60px;
}


#mario{
    font-size: 35px;
}

#obbiettivi-corso{
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

.img-container img{
    width: -webkit-fill-available;
}

.img-container{
    border: 1px solid #dee1e3;
    margin-top: 80px;
}

#obbiettivi-corso p{
    padding-right: 1.5em;
    /* padding: 1em; */
    padding-bottom: 2em;
    padding-left: 1.5em;
}
#obbiettivi-corso h3{
    padding-top: 1em;
} 
/* footer */

footer{
    text-align: center;
    background-color: #25a2c3;
    color: #c8e7f0;
    font-size: 40px;
    padding: 80px;
    padding-bottom: 150px;
    margin-top: 130px;
}

footer h2{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}

hr{
    margin: 80px;
}

a{
    color:#c8e7f0;
}

#copy{
    font-size: 35px;
}
#copy span{
    text-decoration: underline;
}